@page
@model Mintic.App.Presentacion.Pages.CrudPersona.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Crear</h1>

<h4>Persona</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Persona.Nombres" class="control-label"></label>
                <input asp-for="Persona.Nombres" class="form-control" />
                <span asp-validation-for="Persona.Nombres" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Persona.Apellidos" class="control-label"></label>
                <input asp-for="Persona.Apellidos" class="form-control" />
                <span asp-validation-for="Persona.Apellidos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Persona.Codigo" class="control-label"></label>
                <input asp-for="Persona.Codigo" class="form-control" />
                <span asp-validation-for="Persona.Codigo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Persona.Edad" class="control-label"></label>
                <input asp-for="Persona.Edad" class="form-control" />
                <span asp-validation-for="Persona.Edad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Persona.Cedula" class="control-label"></label>
                <input asp-for="Persona.Cedula" class="form-control" />
                <span asp-validation-for="Persona.Cedula" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Persona.Email" class="control-label"></label>
                <input asp-for="Persona.Email" class="form-control" />
                <span asp-validation-for="Persona.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Persona.Celular" class="control-label"></label>
                <input asp-for="Persona.Celular" class="form-control" />
                <span asp-validation-for="Persona.Celular" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Persona.Municipio" class="control-label"></label>
                <input asp-for="Persona.Municipio" class="form-control" />
                <span asp-validation-for="Persona.Municipio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Persona.Departamento" class="control-label"></label>
                <input asp-for="Persona.Departamento" class="form-control" />
                <span asp-validation-for="Persona.Departamento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Persona.Fijo" class="control-label"></label>
                <input asp-for="Persona.Fijo" class="form-control" />
                <span asp-validation-for="Persona.Fijo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Persona.Direccion" class="control-label"></label>
                <input asp-for="Persona.Direccion" class="form-control" />
                <span asp-validation-for="Persona.Direccion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Persona.Usuario" class="control-label"></label>
                <input asp-for="Persona.Usuario" class="form-control" />
                <span asp-validation-for="Persona.Usuario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Persona.Password" class="control-label"></label>
                <input asp-for="Persona.Password" class="form-control" type="password"/>
                <span asp-validation-for="Persona.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
